extends layout

block content
  div.row
    div.menu.center
      div.btn-group.margin-top
        div.btn.btn-md.btn-primary.btn-width
          span.glyphicon.glyphicon-time
        div.btn.btn-md.btn-default.btn-width
          span.glyphicon.glyphicon-heart-empty
      div.row.text-center.text-light
        //- | @UPenn
    div.camera-wrapper
      button#camera.btn.btn-primary.btn-lg.btn-block
        span.glyphicon.glyphicon-camera

  div.container-fluid
    ul.photo-list
      each selfie in selfies
        li.photo
          img(src="http://lorempixel.com/400/500").img-responsive
          div.likes-container.pull-left.text-primary.text-bold
            span.glyphicon.glyphicon-heart
            span.likes-text= selfie.likes
          div.timestamp-container.pull-right.text-primary.text-bold
            span.glyphicon.glyphicon-time
            span.timestamp-text=  selfie.timestamp
      


block js
  script(src='/js/index.js')