extends layout

block content
  input#api-token(type="hidden" value=user.apiToken)
  div.row
    div.menu.center
      div.btn-group.margin-top
        div.btn.btn-md.btn-primary.btn-width#recency-sort
          span.glyphicon.glyphicon-time
        div.btn.btn-md.btn-default.btn-width
          span.glyphicon.glyphicon-heart-empty#hearts-sort
      div.row.text-center.text-light
        //- | @UPenn
    div.camera-wrapper
      button#camera.btn.btn-primary.btn-lg.btn-block
        span.glyphicon.glyphicon-camera
    span#dummy-file-wrapper.hidden
    form(action="/api/photos" enctype="multipart/form-data" method="post" id="image-form").hidden
      input(type="file" multiple="multiple" id="take-picture" accept="image/*")

  div.container-fluid
    ul.photo-list
      li.photo#new-photo-wrapper.hidden
        img#new-photo.img-responsive
        div.overlay
            div.text-center.heart-text
              span.glyphicon.glyphicon-heart
      each selfie in selfies
        li.photo(data-photo-id=selfie.id style="background-image: url(http://104.236.41.161/"+selfie.url+");")
          //- img.img-responsive
          div.likes-container.pull-left.text-light.text-bold
            span.glyphicon.glyphicon-heart
            span.likes-text= selfie.hearts.length
          div.timestamp-container.pull-right.text-light.text-bold
            span.glyphicon.glyphicon-time
            span.timestamp-text= selfie.created_at_text
          div.overlay
            div.text-center.heart-text.text-primary
              span.glyphicon.glyphicon-heart

block js
  script(src='/js/index.js')