primary = #84CFCA
darker = #77C2BC
light = #F0F3F2

h1
  font-size 100px
  color blue

.text-primary
  color primary

.text-light
  color light

.bg-light
  background-color light
  
.btn-primary, .bg-primary
  background-color primary
  border-color darker
  
.btn-default
  color darker

.center 
  width 140px
  margin-left -70px
  left 50%
  
.menu
  margin-top 15px
  position fixed
  font-weight 700
  
.btn-width
  width: 70px
  
.camera-wrapper
  position fixed
  bottom 15px
  width 100px
  margin-left -50px
  left 50%

.photo-list
  padding-left 0px

.container-fluid
  padding: 0px
  
.photo
  text-align center
  margin-left 0px
  margin-top 5px
  margin-bottom 5px
  