light = #F0F3F2

h1
  font-size 100px
  color blue

html
  height 100%

body
  height 100%
  margin 0
  padding 0

h2#title
  margin:15%
  text-align center
  color #ffffff
  font-family Graphik-Medium

#bg-cover
  /* Set up proportionate scaling */
  width: 100%
  height: auto
  /* Set up positioning */
  position: fixed
  top: 0
  left: 0

#bg-cover > img
  width: 100%
  height: 100%

#bg-overlay-content
  position absolute
  z-index 1
  top 0
  width 100%

#fb-button
  width 60%

.text-light
  color light

.text-bold
  font-weight 700

.likes-container
  position absolute
  left 10px
  bottom 3px
  padding-left 5px

.likes-text
  bottom 1px
  position relative

.timestamp-container
  position absolute
  right 10px
  bottom 3px
  padding-left 5px

.timestamp-text
  bottom 1px
  position relative

.center
  width 140px
  margin-left -70px
  left 50%

.menu
  margin-top 15px
  position fixed
  font-weight 700
  z-index 10

.btn-width
  width: 70px

.camera-wrapper
  position fixed
  top 15px
  width 50px
  right 15px
  text-align center
  z-index 10

#dummy-file-wrapper
  height 0
  width 0
  overflow hidden

.photo-list
  padding-left 0px
  margin-bottom 0px

.container-fluid
  padding: 0px

.photo
  position relative
  text-align center
  margin-left 0px
  margin-top -20px

.photo .overlay
  background rgba(0,0,0,.80)
  text-align center
  padding 45px 0 66px 0
  opacity 0
  // -webkit-transition  opacity .25s ease
  // -moz-transition  opacity .25s ease

.photo:hover
  opacity 1